
.container .navbar-brand {
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.back {
    display: flex;
    justify-content: center;
    background-image: url(/Media/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
  
  .back1 {
    background-image: url(/Media/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    width: 93%;
    margin: 5px;
    border-radius: 15px;
    stroke: black;
}


.content div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
    color: white;
    stroke: blue;
    stroke-width: 10px;
}